body{
	background: #cccccc;
}

#banner{
	height: 100%px;
}

h1{
	text-align: center;
}

p{
				text-align: center;
			}

em strong{
	color: red;
}

#missao{
	font-size: 20px;
}
